{% extends "base.html"%}
{% block context %}
    <main>
        <section class="about-us">
            <h1>schoo</h1>
            <h2>Our Mission</h2>
            <p>We aim to provide the best education for our students...</p>
            <section class="about-us">
                <h2>About Us</h2>
                <img src="/static/n3.jpg".jpg alt="School Image" class="center-image">
 <p>Our school has a rich history of academic excellence and a commitment to nurturing the potential of every student...</p>
 <p>Founded in [Year], our institution has grown from humble beginnings to a respected establishment known for its innovative teaching methods...</p>
<p>We believe in a holistic approach to education, ensuring that students are not only academically proficient but also socially responsible citizens...</p>
                <!-- Add more paragraphs as needed -->
                <h2>About Us</h2>
                <img src="n4.jpg".jpg alt="School Image" class="center-image">
    
  
            </section>
        </section>
    </main>
{% endblock %}

    

